@import "tailwindcss";

html, body {
  @apply bg-white text-gray-900;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none!important;
  }
}

